.cards {
  margin-top: 20px;

  mat-card + mat-focus-indicator{
    margin-top: 20px;
  }
  .mat-card {
      margin-top: 20px;
  }
}

.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
}