:host {
  .complete {
    text-decoration: line-through;
  }
}

.mat-fab {
  transform: scale(0.5);
}

.mat-icon {
  transform: scale(1.1);
}


.fill-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}